.WorkingTable {
    box-shadow: none;
}

.mat-column-pilot_id_name {
    width: 30%;
    min-width: 150px;
}

.mat-column-ship {
    width: 70%;
    min-width: 350px;
}

.working-title {
    text-align: center;
    color: #2664B7;
}

.break-main {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: none;
}
  
.break-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

