<div>
  <mat-form-field appearance = "outline">
    <mat-label>帳號</mat-label>
    <input matInput [type] = "string" (keyup) = "returnAccount($event)">
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance = "outline">
    <mat-label>密碼</mat-label>
    <input matInput [type] = "hide ? 'password' : 'string'" (keyup) = "returnPass($event)">
    <mat-icon matSuffix (click) = "hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</div>


<button mat-stroked-button color = "accent" class = "signin-homepage" (click) = "checkLog()">
  登入
</button>


<button mat-stroked-button color = "accent" class = "signin-fpassword" (click) = "checkPassword()">
  忘記密碼
</button>


