<div class = "main-container"></div>
<div class = "username">
  <mat-form-field appearance = "outline">
    <mat-label>帳號</mat-label>
    <input matInput type = "text" (keyup) = "returnAccount($event)">
  </mat-form-field>
</div>
<div class = "password">
  <mat-form-field appearance = "outline">
    <mat-label>密碼</mat-label>
    <input matInput type = "password" (keyup) = "returnPass($event)">
  </mat-form-field>
</div>
<mat-error class = "loginError" *ngIf = "loginError"><strong>帳號或密碼輸入錯誤！</strong></mat-error>


<button mat-stroked-button color = "accent" class = "signin-login" (click) = "checkLog()">
  登入
</button>


<button mat-stroked-button color = "accent" class = "signin-fpassword" (click) = "forgetPassword()">
  忘記密碼
</button>



