<h2 class = "break-title">已簽船</h2>
<div class="mat-elevation-z8 BreakTable">
  <table mat-table #table [dataSource]="dataSource"  aria-label="Elements">

    <ng-container matColumnDef = "pilot_id_name">
      <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">引水人編號姓名</th>
      <td mat-cell *matCellDef = "let row" style = "text-align:center">{{row.my_pilot_id}} {{row.my_name}}</td>
    </ng-container>

    <ng-container matColumnDef = "night_shift">
      <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">大夜班次數</th>
      <td mat-cell *matCellDef = "let row" style = "text-align:center">{{row.night_shift}}</td>
    </ng-container>

    <ng-container matColumnDef = "count">
        <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">掛牌次數</th>
        <td mat-cell *matCellDef = "let row" style = "text-align:center">{{row.count}}</td>
    </ng-container>
    
    <ng-container matColumnDef = "time">
        <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">掛牌時間</th>
        <td mat-cell *matCellDef = "let row" style = "text-align:center">
            <button mat-stroked-button>1</button>
        </td>
    </ng-container>

    <ng-container matColumnDef = "cancel">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef = "let row" style = "text-align:center">
            <button mat-stroked-button>修改/取消</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

