<mat-toolbar class = "toptoolbar">
  <span class = "bar-title">高雄港智慧排程資訊系統</span>
  <span class = "nav-bar"></span>
    <nav mat-tab-nav-bar mat-stretch-tabs>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  <span class = "seperator"></span>
  <button class = "logout-butt" mat-mini-fab (click) = "openLogoutDialog()">
      元均
  </button>
</mat-toolbar>
<!-- <div>
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
    <button class = "logout-butt" mat-mini-fab color = "primary" (click) = "openLogoutDialog()">
        元均
    </button>
  </nav>
</div> -->

<router-outlet></router-outlet>
