.informationTable {
    width: 100%;
    margin: 20px 0px 0px;
    height: 70% auto;
    overflow: auto;
    box-shadow: none !important;
}

table{
    width: 100%;
}
.mat-column-applyTime_vslSituation_serialNumber{
    width: 10%;
    min-width: 150px;
}
.mat-column-vslName{
    width: 12%;
    min-width: 150px;
}
.mat-column-pilot{
    width: 5%;
    min-width: 100px;
}
.mat-column-vslNumber_voyage_mooringInTransferOut{
    width: 9%;
    min-width: 100px;
}
.mat-column-status_pilotNumber_way_nearSpan{
    width: 9%;
    min-width: 100px;
}
.mat-column-tugboat_tons{
    width: 5%;
    min-width: 100px;
}
.mat-column-agentCodeName_dangerousVsl{
    width: 15%;
    min-width: 180px;
}
.mat-column-departureTime_ETA{
    width: 15%;
    min-width: 180px;
}
.mat-column-frontWaterline_HinderWaterline{
    width: 5%;
    min-width: 100px;
}
.mat-column-latestModifyDepartureTime_vslAge{
    width: 18%;
    min-width: 180px;
}
.mat-column-anchorTime_anchorPosition_bowThruster{
    width: 15%;
    min-width: 150px;
}
.mat-column-bringCable_dispatchStation{
    width: 5%;
    min-width: 100px;
}
.mat-column-previousPort_nextPort{
    width: 15%;
    min-width: 120px;
}
.mat-column-guideBoatRemark{
    width: 10%;
    min-width: 100px;
}

td.mat-column-star {
    width: 200px;
    padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
}

.mat-table-sticky:nth-child(2), .mat-table-sticky:first-child{
    border-right: 1px solid #e0e0e0;
}

.mat-paginator-sticky {
    bottom: 0;
    position: sticky;
    z-index: 10;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.hide{
    display: none;
}

td.load{
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.search-div{
    margin: 10px;
}
.reference-div{
    margin: 10px;
}

.search-form-field{
    width: 15%;
    margin-left: 5px;
    padding: 1px 5px;
    border-radius: 1px;
}

.search-form-field div.mat-form-field-underline {
    display: none;
}

.search-form-field div.mat-form-field-infix {
    border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
    padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

.auto-assign-ship {
    position: relative;
    left: 20%;
    background-color: #E03C26;
    color: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em;
}

.mat-header-cell {
    background-color: #2664B7;
    color: white;
}

.reference-div-info {
    background-color: #2664B7;
    color: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
    margin: 0.4em;
}

.reference-div-outside { 
    margin: 0.15em;
}

.reference-div-inside { 
    margin: 0.15em;
}

.reference-div-wind { 
    margin: 0.15em;
}

.link-div {
    margin: 0.1em;
}

.search-div {
    margin: 0.1em;
}

.search-label {
    background-color: #2664B7;
    color: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.5em;
    margin: 0.4em;
}


