<h2 class = "assigned-title">已簽船</h2>
<div class="mat-elevation-z8 AssignedTable">
  <table mat-table #table [dataSource]="dataSource"  aria-label="Elements">

    <ng-container matColumnDef = "pilot_id_name">
      <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">引水人編號姓名</th>
      <td mat-cell *matCellDef = "let row" style = "text-align:center">{{row.my_pilot_id}}  {{row.my_name}}</td>
    </ng-container>

    <ng-container matColumnDef = "ship">
      <th mat-header-cell *matHeaderCellDef style = "text-align:center; color: #2664B7">安排船舶資訊(船編 /噸位 /船名)</th>
      <td mat-cell *matCellDef = "let row" style = "text-align:center">{{row.ship}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>



