.pilotOrderTable {
    width: 100% auto;
    height: 70% auto;
    overflow: auto;
    margin: 20px auto;
    box-shadow: none !important;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
}

.hide{
    display: none;
}
td.load{
    justify-content: center;
    text-align: center;
    font-style: italic;
}
