.butt-continue-ship {
    position: relative;
    left: 80%;
    margin: 0.5em;
}

.butt-order-list {
    position: relative;
    left: 60%;
}

.butt-return-list {
    position: relative;
    left: 70%;
}
