.PilotOrderReturnTable {
    width: 90%;
    margin: 20px auto;
    height: 50% auto;
    overflow: auto;
    box-shadow: none !important;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
}

.hide{
    display: none;
}
td.load{
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.return_reason_other {
    padding: 1em;
    border: 0.5em;
}


