.PilotStatusBreakInspectTable {
    width: 90%;
    margin: 20px auto;
    height: 50% auto;
    overflow: auto;
    box-shadow: none !important;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
}

.hide{
    display: none;
}
td.load{
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.mat-row:nth-child(even){
    background-color: #A0A1A2;
}

.mat-row:nth-child(odd){
    background-color: #6B8295;
}

.mat-header-cell {
    background-color: #083150;
    color: white;
}

.mat-cell {
    color: white;
}

