<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel = "never">
    <input matInput type = "text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup) = "applyFilter()">
    <button mat-button *ngIf= "searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()" >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8 informationTable">
  <table mat-table #table [dataSource]="dataSource"  aria-label="Elements">

    <!-- applyTime_vslSituation_serialNumber -->

    <ng-container matColumnDef="applyTime_vslSituation_serialNumber" sticky>
      <th mat-header-cell *matHeaderCellDef style="text-align:center">申請時間<br style="text-align:center">航況/序號</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.applyTime}}dddd<br>{{row.vslSituation}}<br>{{row.serialNumber}}</td>
    </ng-container>

    <!-- vslName Column -->

    <ng-container matColumnDef="vslName" sticky>
      <th mat-header-cell *matHeaderCellDef style="text-align:center">中英船名</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.vslName_chi}}{{row.vslName_eng}}</td>
    </ng-container>

    <!-- pilot Column -->

    <ng-container matColumnDef="pilot">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">引水人</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.pilot1}}{{row.pilot2}}</td>
    </ng-container>

    <!-- vslNumber_voyage_mooringInTransferOut Column -->

    <ng-container matColumnDef="vslNumber_voyage_mooringInTransferOut">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">船編/航次<br style="text-align:center">靠地(頭尾纜)</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.vslNumber}}/{{row.voyage}}/{{row.vsl_from_to}}</td>
    </ng-container>

    <!-- status_pilotNumber_way_nearSpan Column -->

    <ng-container matColumnDef="status_pilotNumber_way_nearSpan">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">狀況/人數<br style="text-align:center">方式/近跨</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.status}}/{{row.pilotNumber}}<br>{{row.way}}/{{row.nearSpan}}</td>
    </ng-container>

    <!-- tugboat_tons Column -->

    <ng-container matColumnDef="tugboat_tons">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">拖船數<br style="text-align:center">總噸位</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.tugboat}}/{{row.tons}}</td>
    </ng-container>

    <!-- agentCodeName_dangerousVsl Column -->

    <ng-container matColumnDef="agentCodeName_dangerousVsl">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">港代理/代號<br style="text-align:center">危險品船</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.agentCodeName}}/{{row.dangerousVsl}}</td>
    </ng-container>

    <!-- departureTime_ETA Column -->

    <ng-container matColumnDef="departureTime_ETA">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">出發時間<br style="text-align:center">船長報告ETA</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.departureTime}}<br>{{row.ETA}}</td>
    </ng-container>

    <!-- frontWaterline_HinderWaterline Column -->

    <ng-container matColumnDef="frontWaterline_HinderWaterline">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">前吃水<br style="text-align:center">後吃水</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.frontWaterline}}<br>{{row.hinderWaterline}}</td>
    </ng-container>

    <!-- latestModifyDepartureTime_vslAge Column -->

    <ng-container matColumnDef="latestModifyDepartureTime_vslAge">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">引水時間最後修改時間<br style="text-align:center">船齡</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.latestModifyDepartureTime}}{{row.vslAge}}</td>
    </ng-container>

    <!-- anchorTime_anchorPosition_bowThruster Column -->

    <ng-container matColumnDef="anchorTime_anchorPosition_bowThruster">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">港外下錨時間<br style="text-align:center">港外錨位/艏推</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.anchorTime}}<br>{{row.anchorPosition}}/{{row.anchorbowThruster}}</td>
    </ng-container>

    <!-- bringCable_dispatchStation Column -->

    <ng-container matColumnDef="bringCable_dispatchStation">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">帶解纜<br style="text-align:center">調度站</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.bringCable}}/{{row.dispatchStation}}</td>
    </ng-container>

    <!-- previousPort_nextPort Column -->

    <ng-container matColumnDef="previousPort_nextPort">
      <th mat-header-cell *matHeaderCellDef style="text-align:center">前一港<br style="text-align:center">次一港</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.previousPort}}<br>{{row.nextPort}}</td>
    </ng-container>

       <!-- guideBoatRemark Column -->

    <ng-container matColumnDef="guideBoatRemark" >
      <th mat-header-cell *matHeaderCellDef style="text-align:center" >開導艇備註</th>
      <td mat-cell *matCellDef="let row" style="text-align:center">{{row.guideBoatRemark}}</td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <td mat-footer-cell *matFooterCellDef colspan="14" class="load">
        Loading Data...
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':  dataSource.data.length!=0}"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" class="mat-paginator-sticky" showFirstLastButtons>
  </mat-paginator>
</div>



